---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/assets/fonts/bootstrap/";

/* custom variable */


/* any style customization must be before the bootstrap import */
@import "bootstrap";

.footer-icon {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

.footer-div {
    text-align: center
}
* {
    margin: 0;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -8em;
    padding: 0 0 8em;
}
.footer, .push {
    height: 6em;
    background-color: #f5f5f5;
    margin-top: 2em
}
code {
    white-space: pre-wrap;
    display: block;
}
.post-meta {
    font-weight: bold;
    color: #2f2f2f;
}

td {
  border: solid black 0.1em;
  padding: 0.2em
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}