<footer class="footer">
  <div class="container">

    <div class="col-xs-12 footer-div">
        <h4 class="footer-heading">{{ site.title }}: {{ site.description }} </h4>
    </div>

    <div class="col-xs-12 footer-div">
          <div class="footer-icon"><a href="mailto:{{ site.email }}">
            <span class="fa fa-envelope fa-2x"></span>
            </a>
            </div>
          {% if site.github_username %}
          <div class="footer-icon"><a href="https://github.com/{{site.github_username}}">
            <span class="fa fa-github fa-2x"></span>
            </a>
            </div>
          {% endif %}

          {% if site.twitter_username %}
            <div class="footer-icon"><a href="https://twitter.com/{{site.twitter_username}}">
            <span class="fa fa-twitter fa-2x"></span>
            </a>
            </div>
          {% endif %}
      </div>
    </div>

  </div>

</footer>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/bootstrap.min.js"></script>
